
.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
    width: 60%;

    padding: 20px 0 20px 5%;
    transform: translateY(-80px);
}
.card_items{
    display: flex;
    gap: 3%;
    align-items: center;
    color: #3F4255;
}



.card_items p{
    font-size: 16px;
}

@media only screen and (max-width: 1200px) {
    .cards{
        transform: none;
        width: 100%;
        gap: 1%;
    }  
    .card_items p{
        font-size: 12px;
    }
  }
  
@media only screen and (max-width: 600px) {
    .cards{
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        gap: 2rem;
    }  
    .card_items p{
        font-size: 12px;
    }
  }
  