.section_1_conatiner {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2% 5%;
}
.section_1 div h1 {
  font-weight: normal;
  /* color: #3f4255; */
  font-size: 60px;
}

.section_1_conatiner > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  width: 40%;
  transform: translateY(-50px);
}

.section_1_conatiner img {
  width: 60%;
}

  @media only screen and (max-width: 1200px) {
  .section_1 div h1 {
    font-size: 40px;
  }
  .section_1_conatiner > div{
    transform: none;
  }
  
}
@media only screen and (max-width: 600px) {
  .section_1_conatiner{
    flex-direction: column;
    gap: 2rem;
  }
  .section_1_conatiner img{
    width: 100%;
  }
  .section_1_conatiner > div {
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
  }
  

}
